extends layout
block append config

  -paginaActual = "Tortugas"
  block append
    link(rel="stylesheet", href="/styles/animales.css")

block main

  br
  br
  div.contenedor
    for tortuga in animales
      a.-borde.carta(href="/animal-info/"+tortuga.id)
        div
          img.animal-img(src=tortuga.path, alt=tortuga.nombre)
          br
          br
          div.info
            p=tortuga.nombre
            p=tortuga.fases  
        div.-borde.opacidad
          p.-boton VER MAS


    //NO DISPONIBLE
    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/tortugas/t-sulcata.png", alt="")
        br
        br
        div.info
          p TORTUGA
          p SULCATA
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/tortugas/t-lagarto.png", alt="")
        br
        br
        div.info
          p TORTUGA
          p LAGARTO
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK