extends layout
block append config

  -paginaActual = "Todos Los Animales"
  block append
    link(rel="stylesheet", href="/styles/animales.css")

block main

  br
  br
  div.contenedor
    for animal in animales
      a.-borde.carta(href="/info_animal/"+animal.id)
        div
          img.-borde.animal-img(src=animal.path, alt=animal.nombre)
          br
          br
          div.info
            p=animal.nombre
            p=animal.fases
        div.-borde.opacidad
          p.-boton VER MAS


    //NO DISPONIBLE

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/tortugas/t-sulcata.png", alt="")
        br
        br
        div.info
          p TORTUGA
          p SULCATA
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/tortugas/t-lagarto.png", alt="")
        br
        br
        div.info
          p TORTUGA
          p LAGARTO
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    
    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/gcko-raptor.png", alt="")
        br
        br
        div.info
          p GECKO LEOPARDO
          p RAPTOR
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/gcko-tremper.png", alt="")
        br
        br
        div.info
          p GECKO LEOPARDO
          p TREMPER
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    
    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/c-parson.png", alt="")
            br
            br
            div.info
              p CAMALEONE DE PARSON 
              p JUVENIL
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/c-pantera.png", alt="")
            br
            br
            div.info
              p CAMALEON PANTERA 
              p JUVENIL
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/c-velo-adulto.png", alt="")
            br
            br
            div.info
              p CAMALEON DE VELO 
              p ADULTO
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/c-velo-pied.png", alt="")
            br
            br
            div.info
              p CAMALEON DE VELO 
              p PIED
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK


    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/ig-azul.png", alt="")
        br
        br
        div.info
          p IGUANA
          p AZUL
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/tegu-red.png", alt="")
        br
        br
        div.info
          p TEGU
          p RED
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/tegu-red.png", alt="")
        br
        br
        div.info
          p TEGU
          p RED
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/var-nilo.png", alt="")
        br
        br
        div.info
          p VARANO
          p DEL NILO
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/var-gargantablanca.png", alt="")
        br
        br
        div.info
          p VARANO
          p GARGANTA BLANCA
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK



    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/serpientes/pb-cypress-mojave.png", alt="")
        br
        br
        div.info
          p PITON BOLA 
          p CYPRESS MOJAVE
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/serpientes/pb-nom.png", alt="")
        br
        br
        div.info
          p PITON BOLA 
          p NOMINAL
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/serpientes/pb-soulsocker.png", alt="")
        br
        br
        div.info
          p PITON BOLA 
          p SOULSOCKER
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK


    
    //BOAS
    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/serpientes/bc-albino-khal.png", alt="")
        br
        br
        div.info
          p BOA COLOMBIANA 
          p ALBINO KHAL
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/serpientes/bc-motley.png", alt="")
        br
        br
        div.info
          p BOA COLOMBIANA 
          p MOTLEY
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/serpientes/bc-surinam.png", alt="")
        br
        br
        div.info
          p BOA COLOMBIANA 
          p SURINAM
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/serpientes/b-esmeralda.png", alt="")
        br
        br
        div.info
          p BOA ESMERALDA
          p
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/serpientes/bk-albina.png", alt="")
        br
        br
        div.info
          p BOA KENIANA DE ARENA
          p ALBINA
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/serpientes/bk-stripe.png", alt="")
        br
        br
        div.info
          p BOA KENIANA DE ARENA
          p STRIPE
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/serpientes/bk-yellow.png", alt="")
        br
        br
        div.info
          p BOA KENIANA DE ARENA
          p YELLOW
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK


    //OTRAS PITONES

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/serpientes/ps-brongermai.png", alt="")
        br
        br
        div.info
          p PITON DE SANGRE
          p ROJA
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/serpientes/ps-negra.png", alt="")
        br
        br
        div.info
          p PITON DE SANGRE
          p NEGRA
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/serpientes/pburm-albino.png", alt="")
        br
        br
        div.info
          p PITON BURMES
          p ALBINO
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK