footer.footer.-Padd.-Grid
  div.footer__txt
    h3 ÚNICO REPTILES
    h5 Sé diferente, sé original ...
  img.footer__logo(src="/img/logo.png", alt="unico reptiles")
  div.footer-plugins.-Flex
    <div class="fb-like" data-href="https://www.facebook.com/%C3%9Anico-Sangre-Fr%C3%ADa-2247381735278065/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
    div.footer-plugins__social
      a(href=""): img(src="/icon/facebook.png", alt="")
      a(href=""): img(src="/icon/instagram.png", alt="")
      a(href=""): img(src="/icon/youtube.png", alt="")