nav
  img.logo-nav(src="/img/logo.png", alt="unico reptiles")

  ul.navbar-links
    li: a.-F-colorB(href='/') INICIO
    li: a.-F-colorB(href='/disponible') DISPONIBLE
    li: a.-F-colorB(href='/productos') PRODUCTOS
    li: a.-F-colorB(href='/#nosotros') NOSOTROS
    li: a.-F-colorB(href='/contactanos') CONTACTANOS

  a.burger
    div.linea1
    div.linea2
    div.linea3

script(src='/javascript/navbar.js')
